<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_homepage">

    <application>
        <activity android:name=".HomePageMainActivity">
        </activity>
        <activity android:name=".app.activity.HomeListActivity"></activity>
<activity android:name=".app.activity.HomeRealListActivity"></activity>
    </application>

</manifest>