<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_personal">

    <application>
        <activity android:name=".PersonalMainActivity">
        </activity>
        <activity android:name=".app.activity.PersonalSettingActivity"></activity>
        <activity android:name=".app.activity.PersonalSettingAboutActivity"></activity>
        <activity android:name=".app.activity.PersonalSettingSecretActivity"></activity>
        <activity android:name=".app.activity.PersonalSettingSafeActivity"></activity>
        <activity android:name=".app.activity.PersonalChangeMobileActivity"></activity>
        <activity android:name=".app.activity.PersonalVerifyCodeActivity"></activity>
        <activity android:name=".app.activity.PersonalChangePasswordActivity"></activity>
        <activity android:name=".app.activity.PersonalAccountMessageActivity"></activity>
        <activity android:name=".app.activity.PersonalMessageMoreActivity"></activity>
        <activity android:name=".app.activity.PersonalMessageSexActivity"></activity>
        <activity android:name=".app.activity.PersonalSignNameActivity"></activity>
        <activity android:name=".app.activity.PersonalNickNameActivity"></activity>
        <activity android:name=".app.activity.PersonalCodeActivity"></activity>
    </application>

</manifest>