<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_login">

    <application>
        <activity android:name=".LoginMainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".app.activity.LoginFirstActivity"></activity>
        <activity android:name=".app.activity.LoginRegisterActivity"></activity>
        <activity android:name=".app.activity.LoginVerifyCodeActivity"/>
        <activity android:name=".app.activity.ShowActivity"/>
    </application>

</manifest>